
	<div class="panel panel-default">
		<div class="panel-heading" id = 'layerHeading'>
			<a data-toggle="collapse" href="#layerBody" aria-expanded="true" aria-controls="collapseOne">
				<h4 class="panel-title expandPanel">
					Layers
				</h4>
			</a>
		</div>
		<!-- /.panel-heading-->
		<div id="layerBody" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="layerHeading">
			<div class="panel-body" style="padding-top:5px; padding-bottom:5px">



				<!-- /appdata.layers -->
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /#layerBody -->
	</div>
	<!-- /.panel -->
